/* dashboard start */
.table-header,
.presence-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.table-header > div {
  display: flex;
  flex-wrap: nowrap;
}

.table-header button,
.presence-table-header button {
  border-radius: 3px;
}

.presence-table-header .includes-export {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.presence-table-header .includes-export button:first-child,
.presence-table-header .includes-export button:nth-child(2) {
  margin-right: 5px;
}

.excel-btn {
  width: 32px;
  cursor: pointer;
}

.table-header h1,
.presence-table-header h1,
.student-table-header h1 {
  margin-bottom: 0px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Onest', sans-serif;
  text-transform: uppercase;
}

.search-wrapper .ant-input-affix-wrapper {
  padding: 10px;
  padding-left: 12px;
  border-radius: 0px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid transparent;
  color: #aaa;
  background: #f0f3f8;
}

.search-wrapper .ant-input-affix-wrapper-focused,
.search-wrapper .ant-input-affix-wrapper:hover {
  box-shadow: none;
  border: 1px solid #ddd !important;
}

.search-wrapper .ant-input-affix-wrapper svg {
  margin-right: 7px;
}

.search-wrapper .ant-input {
  background: #f0f3f8;
}

.search-wrapper .ant-input::placeholder {
  color: #aaa;
  text-transform: lowercase;
}

.search-wrapper.filter-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.search-wrapper.filter-wrapper > div label {
  display: block;
  margin-bottom: 4px;
}
.filter-column {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .filter-column {
    flex-wrap: wrap;
  }
}
/* dashboard end */
