.div-1 {
  font-family: sans-serif;
}

.div-7 {
  display: flex;
  text-align: left;
  text-align: center;
}

.div-5 {
  display: flex;
  text-align: left;
  text-align: center;
}

.input1 {
  text-align: left;
}
